@model ShopXeMay.Models.SanPham

@{
    ViewBag.Title = "CapNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CapNhap</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>SanPham</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.TenSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayNhap, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayNhap, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayNhap, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConHang, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.ConHang)
                @Html.ValidationMessageFor(model => model.ConHang, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BaiViet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BaiViet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BaiViet, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDLoaiSP, "IDLoaiSP", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                ShopXeMay.Models.BanXeMayEntities db = new ShopXeMay.Models.BanXeMayEntities();
                var loais = db.LoaiSP.ToList();
                <select name="IDLoaiSP">
                    @foreach (var item in loais)
                    {
                        <option value="@item.Id">@item.TenLoai</option>

                    }
                </select>
            }

            @Html.ValidationMessageFor(model => model.IDLoaiSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnhSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AnhSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AnhSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdHangSX, "IdHangSX", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @{
                ShopXeMay.Models.BanXeMayEntities db1 = new ShopXeMay.Models.BanXeMayEntities();
                var hangs = db1.HangSX.ToList();
                <select name="IdHangSX">
                    @foreach (var item in hangs)
                    {
                        <option value="@item.Id">@item.TenHangSX</option>

                    }
                </select>
            }
            @Html.ValidationMessageFor(model => model.IdHangSX, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.idGiamGia, "idGiamGia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                ShopXeMay.Models.BanXeMayEntities db2 = new ShopXeMay.Models.BanXeMayEntities();
                var Giamgias = db2.GiamGia.ToList();
                <select name="idGiamGia">
                    @foreach (var item in Giamgias)
                    {
                        <option value="@item.PhanTramGiam"></option>

                    }
                </select>
            }
            @Html.ValidationMessageFor(model => model.idGiamGia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
