@model ShopXeMay.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DaThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaoHang.TenTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaoHang.TenTrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan.TenHinhThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan.TenHinhThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TenDangNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DonHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
