@using ShopXeMay.Models
@model List<Giohang>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var soluong = new BanXeMayEntities().SanPham.ToList();
}
<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Cart</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="~/Home/Index">Trang Chủ</a></li>
                                <li><a href="#">Cửa Hàng</a></li>
                                <li class="active" aria-current="page">Giỏ Hàng</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
    <!-- Start Cart Table -->
    <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive">
                            <table>
                                <!-- Start Cart Table Head -->
                                <thead>
                                    <tr>

                                        <th class="product_thumb">Ảnh</th>
                                        <th class="product_name">Tên Xe</th>
                                        <th class="product-price">Giá Tiền</th>
                                        <th class="product_quantity">Số Lượng</th>
                                        <th class="product_remove">Xóa</th>
                                        <th class="product_total">Cập Nhật</th>

                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="product_thumb">
                                                <a href="~/SanPhams/Details?idSanPham=@item.idSanPham">
                                                    <img src="~/assets/images/product/@item.AnhSP"
                                                         alt="">
                                                </a>
                                            </td>
                                            <td class="product_name">
                                                <a href="~/SanPhams/Details?idSanPham=@item.idSanPham">
                                                    @item.TenSanPham
                                                </a>
                                            </td>
                                            <td class="product-price">@String.Format("{0:0,0} đ", item.GiaTien)</td>
                                            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @idSanPham = item.idSanPham }))
                                            {
                                                <td class="product_quantity">
                                                    @foreach (var item1 in soluong)
                                                    {
                                                        if (item1.ID == item.idSanPham)
                                                        {
                                                            <div class="class=" product_quantity"">
                                                                <input type="number" min="1" max="@item1.SoLuong" name="txtSoLuong" value="@item.soluong" />
                                                            </div>
                                                        }
                                                    }
                                                </td>
                                                @*<td class="product_quantity">
                                                        <input min="1" max="@item.soluong" value="@item.soluong" type="number">
                                                    </td>*@
                                                <td class="product_remove">
                                                    <a href="~/GioHang/XoaGioHang?idSanPham=@item.idSanPham"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                                <td class="product_total">
                                                    <button class="btn btn-md btn-golden" type="submit">Cập Nhật Giỏ Hàng</button>
                                                </td>
                                            }
                                            @*<td class="product_total">@String.Format("{0:0,0} đ", ViewBag.Tongtien)</td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->
    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code left" data-aos="fade-up" data-aos-delay="200">
                        <h3>Mã Khuyến Mãi</h3>
                        <div class="coupon_inner">
                            <input class="mb-2" placeholder="Nhập mã" type="text">
                            <button type="submit" class="btn btn-md btn-golden">Áp Dụng Mã</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                        <h3>Tổng Tiền Giỏ Hàng</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Tiền Sản Phẩm</p>
                                <p class="cart_amount">@String.Format("{0:0,0} đ", ViewBag.Tongtien)</p>
                            </div>
                            <div class="cart_subtotal ">
                                <p>Tiền Ship</p>
                                <p class="cart_amount"> 150.000 đ</p>
                            </div>
                            <div class="cart_subtotal">
                                <p>Tổng Tiền</p>
                                <p class="cart_amount">@String.Format("{0:0,0} đ", ViewBag.Tongtiensaukhuyenmai)</p>
                            </div>
                            <div class="checkout_btn">
                                <a href="~/GioHang/DatHang" class="btn btn-md btn-golden">Thủ Tục Đặt Hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Coupon Start -->
</div> <!-- ...:::: End Cart Section:::... -->
