@model ShopXeMay.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h3 style="font-weight:bold;margin-left:10px;">Chi Tiết Xe @ViewBag.tenxe</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-5" style="margin-left:20px;">
            <dt>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenSanPham)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaBan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaBan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayNhap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayNhap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ConHang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ConHang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuong)
            </dd>
        </div>
        <div class="col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.BaiViet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BaiViet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiamGia.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiamGia.ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HangSX.TenHangSX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HangSX.TenHangSX)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoaiSP.TenLoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoaiSP.TenLoai)
            </dd>
        </div>
    </div>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
