@model ShopXeMay.Models.TaiKhoan

@{
    ViewBag.Title = "Xóa Tài Khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4 style="font-weight:bold; margin-left: 10px;margin-bottom:3px;">Bạn có muốn xóa không?</h4>
<div style="margin-left:30px;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDangKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDangKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanQuyen.ChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanQuyen.ChucVu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <a class="btn btn-sm btn-danger" href="~/Admin/TaiKhoans/Delete?id=@Model.Id">Xóa</a>
    <a class="btn btn-sm btn-primary" href="~/Admin/TaiKhoans/Index">Trở Về</a>

</div>
    }
</div>
