@model IEnumerable<ShopXeMay.Models.PhanQuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghi_Chú)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghi_Chú)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPhanQuyen }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPhanQuyen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPhanQuyen })
        </td>
    </tr>
}

</table>
